<div class="row">
  <div class="container">
    <h1>Criar conta</h1>
    <form (ngSubmit)="signup()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="username" [(ngModel)]="username" [ngModelOptions]="{standalone:true}">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" [(ngModel)]="password" [ngModelOptions]="{standalone:true}">
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
</div>