a{
    color: inherit;
    text-decoration: none;

    &:focus{
        outline: none;
    }
}

button{
    &:focus{
        outline: none;
    }
}

.ge{
    font-family: 'Roboto', sans-serif;
    background: #efefef;
    color: #666;
    padding: 0;
    margin: 0;
}

.ge-header{
    position: relative;
    display: block;
    background: #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.ge-header__title{
    position: relative;
    display: block;
    text-align: center;
    font-weight: lighter;
    font-variant: small-caps;
}

.ge-header__list{
    position: relative;
    display: block;
    text-align: center;
    padding: 0;

    li{
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        margin: 0 10px;
        background: #aaa;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover{
            background: rgb(199, 199, 199);
        }
    }
}

.ge-main__container-espetaculos{
    position: relative;
    display: block;
}

.ge-main__container-espetaculos__list{
    position: relative;
    display: block;
    text-align: center;
    padding: 0;

    li{
        position: relative;
        display: inline-block;
        margin: 10px;
        background: cadetblue;
        padding: 20px;
        border-radius: 4px;
        width: 240px;
        text-align: center;
        color: white;
        font-weight: lighter;

        strong{
            font-weight: normal;
            padding-left: 6px;
        }
    }
}

.ge-main__container-espetaculos__espetaculo{
    font-weight: normal;
}

.ge-main__espetaculo__button{
    position: relative;
    display: block;
    margin: 20px auto;
    background: white;
    border: none;
    padding: 8px 10px;
    color: rgb(75, 126, 128);
    font-weight: normal;
    cursor: pointer;
}

.ge-main__container-espetaculos__disponiveis,
.ge-main__container-espetaculos__reservados{
    position: relative;
    display: block;
}

.ge-main__container-espetaculos__reservados{
    margin-bottom: 20px;
}

.ge-main__container-espetaculos__espetaculo__actions{
    position: relative;
    display: block;
    padding: 0;
    margin: 10px auto;
    text-align: center;

    li{
        position: relative;
        display: inline-block;
        width: auto;
        margin: 4px;
        padding: 4px 10px;
        color: rgba(0, 0, 0, 0.568);
        font-weight: 500;

        &.js-editar{
            background: rgb(231, 231, 38);
        }

        &.js-remover{
            background: rgb(226, 95, 95);
        }

        &.js-ver{
            background: rgb(115, 115, 226);
        }
    }
}



.ge-modal{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;;
}

.ge-modal__container{
    position: relative;
    display: table;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    border-radius: 4px;
    background: white;
    text-align: center;
}

.ge-modal__content{
    font-size: 20px;

    input{
        position: relative;
        display: block;
        padding: 10px;
        margin: 5px auto;
        width: 200px;
        font-size: 16px;
    }
}

.ge-modal__title{
    font-weight: normal;
}

.ge-modal__cadastrar,
.ge-modal__reservar,
.ge-modal__editar{
    position: relative;
    display: table;
    margin: 10px auto 40px;
    font-size: 16px;
    background: rgb(115, 115, 226);
    color: white;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
}


.ge-modal__fechar{
    position: relative;
    display: block;
    margin: 10px auto 20px;
    font-size: 14px;
    background: none;
    color: #666;
    font-weight: normal;
    border: none;
    cursor: pointer;
}

.alerta{
    position: relative;
    font-size: 12px;
    color: red;
}


.ge-main__espetaculo{
    position: relative;
    display: block;
    padding: 30px;
}

.ge-main__espetaculo__disponiveis,
.ge-main__espetaculo__reservados,
.ge-main__espetaculo__arrecadacao{
    position: relative;
    display: block;
}

.ge-main__espetaculo__reservas{
    position: relative;
    display: block;
    max-height: 200px;
    padding-right: 20px;
    overflow: auto;

    li{
        width: 400px;
        transition: all .3s ease-in-out;
        padding: 5px 10px;
        border-radius: 4px;
        height: 23px;
        list-style:none;
        text-align: left;
    
        &:hover{
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.ge-main__reserva__cancelar{
    position: relative;
    display: block;
    float: right;
    background: rgb(226, 95, 95);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}