<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css" />
    <title>SAE desafia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand mb-0 h1">SAE desafia</span>
                </nav>
            </div>
        </div>
        <br>
        <div class="row">
            <div id="sidebar" class="col-md-3">
                {% block sidebar %}
                <ul class="list-group">
                    <li class="list-group-item"><a href="/shows/">Listar espetáculos</a></li>
                    <li class="list-group-item"><a href="/shows/new">Novo espetáculo</a></li>
                </ul>
                {% endblock %}
            </div>
            <div id="content" class="col-md-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</html>