<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teste Agenda MADEIRA</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet">

    <!-- boxed bg -->
    <link id="bodybg" href="bodybg/bg1.css" rel="stylesheet" type="text/css" />
    <!-- template skin -->
    <link id="t-colors" href="color/default.css" rel="stylesheet">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div id="wrapper" class="menu">
    <section id="callaction" class="home-section paddingtop-40">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="cta-text">
                            <h3>Controle de Espetáculo</h3>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="cta-btn">
                            <img src="img/logo.jpg" class="img-responsive" alt="" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service" class="home-section nopadding paddingtop-60">

        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <img src="img/img-1.png" class="img-responsive" alt="" />
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">

                    <a href="cad-show">
                        <div class="wow fadeInRight">
                            <div class="service-box">
                                <div class="service-icon">
                                    <span class="fa fa-video-camera fa-3x"></span>
                                </div>
                                <div class="service-desc">
                                    <h5 class="h-light">Espetáculo</h5>
                                    <p>Administrar.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3">


                    <a href="reservar-poltronas">
                        <div class="wow fadeInRight">
                            <div class="service-box">
                                <div class="service-icon">
                                    <span class="fa fa-ticket fa-3x"></span>
                                </div>
                                <div class="service-desc">
                                    <h5 class="h-light">Reservar Poltronas</h5>
                                    <p>Administrar.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="dashboard">
                        <div class="wow fadeInRight">
                            <div class="service-box">
                                <div class="service-icon">
                                    <span class="fa fa-money fa-3x"></span>
                                </div>
                                <div class="service-desc">
                                    <h5 class="h-light">Controle Financeiro</h5>
                                    <p>Administrar.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

            </div>
        </div>
    </section>

</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>
